################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeesData/.vs/EmployeesData/v16
/EmployeesData/EmployeesData/obj
/EmployeesData/EmployeesData/bin/Debug/netcoreapp3.1
/EmployeesData/EmployeesData/Properties/PublishProfiles
/EmployeesData/EmployeesData/bin/Release/netcoreapp3.1
