################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeesData/.vs/EmployeesData/v16
/EmployeesData/EmployeesData/obj
